#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_strip

override_dh_strip:
	dh_strip -phasher-priv --dbg-package=hasher-priv-dbg

override_dh_auto_clean:
	$(MAKE) clean

%:
	dh $@
